@use '@/shared/styles/mixins' as *;

.marker {
  width: 24px;
  height: 24px;
  background: var(--color-primary);
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: var(--shadow-glow), 0 0 40px rgba(6, 182, 212, 0.4);
  @include ring-animation;
  z-index: 10;
}